@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {
    background-color: #131313;
    font-family: 'Roboto Condensed', sans-serif;
}

.media-picture {
    
    background-image: url(https://img.ibxk.com.br/2018/11/29/29161447396167.jpg?w=1120&h=420&mode=crop&scale=both);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: ;
}
 h1 {color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
}

h2 {
    color: steelblue;
}

p {
    color: #bdbdbd;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: yellow;
}